<%- include('../sections/header'); %>

<!--Secciones-->
<section class="products">
    
    <div class="products-content">
        <h1>TU CARRITO</h2>
        <hr>
        
        </div>
<!-- carrito.ejs -->
<table class="table tabla-carrito">
  <thead>
   
   <% 
    if (productos.length > 0) {
      let total = 0;
      productos.forEach(item => {
    %>
    <tr>
      <th>Producto</th>
      <th>Descripcion</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    
  
      <td>
        <%= item.nombreProducto %>
      </td>
      <td>
        <h2 class="product-title"><%= item.descripcion %></h2>
      </td>
      <td>
        <p class="price">$ <%= item.precio %></p>
      </td>
      <td>
        <form action="/carrito/eliminar" method="GET">
          <input type="hidden" name="productoId" value="<%= item.idProducto %>">
          <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
         
      
        

        
      </td>
    </tr>
    
    <% 
      total += parseFloat(item.precio);
      });
   %>

    <tr>
      <td colspan="2">Total</td>
      <td> $<%= total.toFixed(2) %> </td>
    </tr>
    
    <% } else { %>
      <tr>
        <td colspan="5">No hay productos en el carrito</td>
      </tr>
    <% } %>

  </tbody>
</table>
<div class="Checkout_button">
  <form action="/paypal/pay" method="POST">
    <input type="hidden" name="total">
    <button type="submit">Checkout</button>
  </form>
</div>

<script>

function remove_item(item_id)
{
    if(confirm("Are you sure you want to remove it?"))
    {
        window.location.href = `/eliminar?id=${item_id}`;
    }
}

</script>

  
        


</section>


<%- include('../sections/footer'); %>