<%- include('../sections/header-c'); %>

<section class="users">

  <div class="container">
    <h1>Diseñadores</h1>
    <h2 class="center">Observa los diseñadores encargados de toda la magia de nuestra plataforma!</h3>
    <hr>
    <% diseñadores.forEach((diseñador) => { %>
      
      <div class="users-container">
        <div class="user" id="user-<%= diseñador.idDisenador %>">
          <img class="perfil-img" src="/perfil/usuarioFoto/<%= diseñador.imgperfil %>" alt="Liquid Color Banner">
          <h2 class="user-title"><%= diseñador.nombre %> <%= diseñador.apellido %> <i class="fa-solid fa-check"></i></h2>
          <a href="#" class="ver-perfil" data-id="<%= diseñador.idDisenador %>"><button class="ver-perfil">Ver perfil</button></a>
        </div>
       
      </div>

   
      <!-- Create a separate profile container for each designer -->
      <div class="perfil-diseñador" id="perfil-<%= diseñador.idDisenador %>" style="display: none;">
    
        <div class="perfil-content">
           
                <img class="perfil-img" src="/perfil/usuarioFoto/<%= diseñador.imgperfil %>" alt="Usuario">
                <h2><%= diseñador.nombre  %> <%= diseñador.apellido %> <i class="fa-solid fa-check"></i></h2>
                <h3><%= diseñador.descripcionPerfil %></h3>
                <div class="etiquetas-container"></div>
                <hr>
        </div>
       
        <h2>Portafolio personal</h2>
 <!-- Otras partes del código -->

          <div class="diseñador-container">
            <% diseñador.productos.forEach((producto) => { %>
              <div class="product">
                <img class="product-img" src="/productos/img/<%= producto.imagenURL %>" alt="<%= producto.nombreProducto %>">
                <h2 class="product-title"><%= producto.nombreProducto %></h2>
                <!-- Otras propiedades del producto, como descripción, precio, etc. -->
              </div>
            <% }); %>
          </div>

<!-- Otras partes del código -->


        <a href="#" class="volver">Volver a la lista de diseñadores</a>
      </div>
      <% }); %>
  
  </div>
</section>
<hr>

<%- include('../sections/footer'); %>

<script>
  const userContainers = document.querySelectorAll('.user');
  const perfilContainers = document.querySelectorAll('.perfil-diseñador');
  const verPerfilLinks = document.querySelectorAll('.ver-perfil');
  const volverLinks = document.querySelectorAll('.volver');

  verPerfilLinks.forEach((link) => {
    link.addEventListener('click', (event) => {
      event.preventDefault();
      const diseñadorId = link.getAttribute('data-id');
      mostrarPerfil(diseñadorId);
    });
  });

  volverLinks.forEach((link) => {
    link.addEventListener('click', (event) => {
      event.preventDefault();
      mostrarListaDiseñadores();
    });
  });

  function mostrarPerfil(diseñadorId) {
    userContainers.forEach((userContainer) => {
      userContainer.style.display = 'none';
    });

    // Display only the selected profile container
    const perfilContainer = document.querySelector(`#perfil-${diseñadorId}`);
    perfilContainer.style.display = 'block';
  }

  function mostrarListaDiseñadores() {
    userContainers.forEach((userContainer) => {
      userContainer.style.display = 'block';
    });

    perfilContainers.forEach((perfilContainer) => {
      perfilContainer.style.display = 'none';
    });
  }
</script>
