<%- include('../sections/header'); %>


<section class="home" id="inicio">
    <div class="home-content">
    
        <h1>   Bienvenido a <p class="bugfast">Sketch Hub.</p> </h1>
        <div class="text-animate"> 
            <h3>Creatividad Ilimitada, Resultados excepcionales</h3>
        </div>
        <br>
        <div class="btn-box">
            <a class="btn" href="#tienda" >Explora nuestro Catálogo <i class="fa-solid fa-arrow-down"></i></a>
          
        </div>

        <span class="animate2" style="--i:2;"></span>  
    </div>
  <!--<span class="home-ImgHover"></span> --> 
</section>
    <!--Seccion 2-->
<section class="products" id="tienda">
    <div class="products-content">
        <h1>Productos disponibles</h2>
          <hr>
    </div>
    <div class="product-container">
        <!--1-->
        <% productos.forEach((producto) => { %>
    <div class="product">
            <img class="product-img" src="<%= producto.img_url %>" alt="Liquid Color Banner">
            <h2 class="product-title"><%= producto.nombre %></h2>
            <p class="price"><%= producto.precio %></p>
            <form action="/agregar" method="post">
                <input type="hidden" name="id" value="<%= producto.id %>">
                <button class="add-to-cart" data-max-quantity="1" data-product-id="special-product">Añadir al carrito</button>
            </form>
        </div>
        <% }); %>
       <hr>
       <div class="btn-box">
        <a class="btn"  href="/tienda" >Ver más <i class="fa-solid fa-arrow-right"></i></a>
    </div>
    </div>
</section>



<%- include('../sections/footer'); %>