
<%- include('../sections/header'); %>


<% if (user) { %>

<script type="text/javascript" src="js/cargar-etiquetas.js"></script> 


<section class="perfil">

    <div class="perfil-content">
        <h1>Perfil</h2>
           
            <hr>
           
                    <img class="perfil-img" src="/perfil/usuarioFoto/<%= user.img %>" alt="<%= user.imgperfil %>">
               
          
           
            <h2> <%= user.nombre  %> <%= user.apellido %> </h2>
            <div class="etiquetas-container"></div>
            <div class="btn-box">
                <a href="/editar-perfil" class="btn">Editar Perfil</a>
            </div>
           
    </div>
<br>
    <% if (user.tipo === 'diseñador'){  %>

    <div class="btn-box">
        <a href="/cargar-diseno" class="btn">Cargar diseño</a>
    </div>

    <h2>Portafolio personal</h2>
    <div class="diseñador-container">
       <% productos.forEach(producto => { %>
        <div class="product">
            <img class="product-img" src="/productos/img/<%= producto.imagenURL %>" alt="Liquid Color Banner">
            <h2 class="product-title"> <%= producto.nombreProducto %> </h2>
        </div>
        <% }); %>
    </div>

    <hr>
    <br>

    <h1>Tus Compras</h2>
       
        <table class="table tabla-carrito">
            <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio de Compra</th>
                        <th>Fecha de Compra</th>
                        <th>Descarga</th>
                    </tr>
            </thead>
            <% compras.forEach(compra => {  %>
            <tbody>
               
                    <td> <%= compra.nombreProducto %> </td>
                    <td> $ <%= compra.precioCompra.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> %>  </td>
                    <td> <%=  compra.fechaCompra  %> </td>
                    <td> 
                        <div class="Checkout_button">
                            
                             
                             <a download=" <%= compra.nombreProducto %>.rar" href="/productos/archivo/<%= compra.archivoURL %>"><button type="submit">Descargar</button></a> 
                          
                          </div>
                    </td>
            </tbody>
            <% }); %>
        </table>
       
        <hr>
        <br>
        <br>
        <h1>Tus Ventas</h2>
   
            <table class="table tabla-carrito">
                <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio de venta</th>
                            <th>Fecha de venta</th>
                        </tr>
                </thead>
                <% ventas.forEach(venta => {  %>
                <tbody>
                   
                        <td> <%= venta.nombreProducto %> </td>
                        <td> $ <%= venta.precioVenta.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %>  </td>
                        <td> <%= venta.fechaVenta %> </td>
                        
                </tbody>
                <% }); %>
            </table>
          


    <% } %> 
    <% if (user.tipo2 === 'normal') { %>
        <hr>
        <h1>Tus Compras</h2>
          
            <table class="table tabla-carrito">
                <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Precio de Compra</th>
                            <th>Fecha de Compra</th>
                            <th>Descarga</th>
                        </tr>
                </thead>
                <% compras.forEach(compra => {  %>
                <tbody>
                   
                        <td> <%= compra.nombreProducto %> </td>
                        <td> $ <%= compra.precioCompra.toLocaleString('en-US', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %> %>  </td>
                        <td> <%= compra.fechaCompra %> </td>
                        <td> 
                            <div class="Checkout_button">
                                
                                 
                                 <a download=" <%= compra.nombreProducto %>.rar" href="/productos/archivo/<%= compra.archivoURL %>"><button type="submit">Descargar</button></a> 
                              
                              </div>
                        </td>
                </tbody>
                <% }); %>
            </table>


   <% } %>
    <hr>
    <br>
    <div class="btn-box">
        <a href="/perfil/logout" class="btn">Cerrar sesión</a>
    </div>

</section>


   <% } else { %>

<div class="login">
    <h2>Inicio de Sesion</h2>
    <form action="/perfil/login" class="form1" method="post">
     <p>
     <label class="text" for="username">Correo electrónico&nbsp;<span class="required">*</span></label>
     <input type="text" class="user" name="email" id="username" autocomplete="username" value="" required/>			
     </p>
     <p>
     <label class="text" for="password">Contraseña&nbsp;<span class="required">*</span></label>
     <input  type="password" class="pass" name="password" id="password" autocomplete="current-password" required/>
     </p>

         <br><br>
     <label >
     <input class="remenber" name="rememberme" type="checkbox" id="rememberme" value="forever" /> <span>Recuérdame</span>
       </label>

     <div class="form-row">
     
             
 
     <div class="btn-box2">
                 <input class="btn2" href="#" type="submit"  name="login" value="Acceder">
                 
               
         
     </div>

 
<br>
    
    
 </div>
     </form>
 </div>
 <hr>
</section> 
<section class="bodylog1">  
 <div id="registro" class="register">
     <h2>Registrate!</h2>

     <form action="/perfil/validar" class="form2" method="post" enctype="multipart/form-data">	
         <p>
             <label class="text" for="reg_username">Nombre&nbsp;<span class="required">*</span></label>
             <input type="text" class="user" name="reg_name" id="reg_name" autocomplete="name" value="" required/>				
         </p>
         <p>
             <label class="text" for="reg_username">Apellido&nbsp;<span class="required">*</span></label>
             <input type="text" class="user" name="reg_lastname" id="reg_lastname" autocomplete="lastname" value="" required/>				
         </p>
         <p>
             <label class="text" for="reg_email">Dirección de correo electrónico&nbsp;<span class="required">*</span></label>
             <input type="email" class="email" name="reg_email" id="reg_email" autocomplete="email" value="" required/>			
         </p>
         
         <p>
             <label class="text" for="reg_password">Contraseña&nbsp;<span class="required">*</span></label>
             <input type="password" class="pass" name="reg_password" id="reg_password" autocomplete="new-password" required/>
         </p>
         <p>
             <label class="text" for="reg_phone">Telefono&nbsp;<span></span></label>
             <input type="text" class="user" name="reg_phone" id="reg_phone" autocomplete="phone" value="" />				
         </p>

         <p>
             <label class="text" for="reg_direccion">Dirección&nbsp;<span></span></label>
             <input type="text" class="user" name="reg_direccion" id="reg_direccion" autocomplete="direccion" value="" />				
         </p>
         <p>
             <label class="text" for="reg_city">Ciudad&nbsp;<span></span></label>
             <input type="text" class="user" name="reg_city" id="reg_city" autocomplete="city" value="" />				
         </p>
         <p>
             <label class="text" for="reg_estado">Estado&nbsp;<span></span></label>
             <input type="text" class="user" name="reg_estado" id="reg_estado" autocomplete="estado" value="" />				
         </p>
         <p>
             <label class="text" for="reg_postal">Codigo Postal&nbsp;<span></span></label>
             <input type="text" class="user" name="reg_postal" id="reg_postal" autocomplete="postal" value="" />				
         </p>

         <div class="col-md-6">
            <div class="form-group">
              <label>Imagen</label>
              <input type="file" name="imagen" id="imagen" class="form-control" accept="image/*" required>
            </div>
          </div>
         <br><br>
         <p>
             <div class="btn-box2">
                 <input class="btn2" name="registrarse" class="btn2" type="submit" value="Registrarse">  
             </div> 
         </p>
     </form>
 </div>
</section>

<% } %>



<%- include('../sections/footer'); %>