<%- include('../sections/header'); %>

<section class="products">
    <div class="products-content">
        <h1>Productos disponibles</h2>
          <hr>
    </div>

    <div class="container-tienda">
        <div class="left">
          <div class="product-container">
            <!--1-->
            <% productos.forEach((producto) => { %>
        <div class="product">
                <img class="product-img" src="/productos/img/<%= producto.imagenURL %>" alt="Liquid Color Banner">
                <h2 class="product-title"><%= producto.nombreProducto %></h2>
                <p class="price"><%= producto.precio %></p>
                <form action="/carrito/agregar" method="post">
                    <input type="hidden" name="id" value="<%= producto.idProducto %>">
                    <button id="add-to-cart-button" class="add-to-cart" data-max-quantity="1" data-product-id="special-product">Añadir al carrito</button>
                </form>
            </div>
            <% }); %>
           <hr>
          
        </div>
        
        </div>
        <div class="sidebar">
            <h1>Filtros</h1>
            <div class="search-container">
                <input type="text" id="search-input" placeholder="Palabra clave..." class="search-input">
                <button id="search-button" class="search-button">Buscar</button>
              </div>
            <h1>Categorias</h1>
           
              <div class="list">
                <ul>
                    <li>DISEÑOS</li>
                    <li>PACKS</li>
                    <li>PANELES</li>
                    <li>LOGOS</li>
                    <li>PORTADAS</li>
                    <li>STREAM</li>
                </ul>
              </div>
            
             <div class="sidebar-cart">
            

                </div>
                <div class="dropdown">
                    <button class="dropbtn">PRECIO</button>
                    <div class="dropdown-content">
                      <a href="#">Inferior a B./10</a>
                      <a href="#">Inferior a B./20</a>
                      <a href="#">Inferior a B./30</a>
                    </div>
                  </div>
                  
                

        </div>
    </div>
</section>


<%- include('../sections/footer'); %>